.version.index /* version checker */
{
	color: #000009;
	background-color: #B4CBA9;
}

.html
{
	background-color: #F4F4F4;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6879px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F4F4F4;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: -346px;
	width: 0.01px;
}

#pu120
{
	width: 0.01px;
	padding-bottom: 58px;
	margin-left: -100px;
}

#u120
{
	z-index: 675;
	height: 57px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: #C9C9C9;
	background-color: #FFFF00;
	position: fixed;
	top: -1px;
	border-width: 0px 0px 1px;
}

#u120-bw
{
	z-index: 675;
}

#u173-4
{
	z-index: 694;
	width: 102px;
	min-height: 57px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -365px;
}

#u173-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 102px;
	margin: 0px 0px 0px -365px;
}

#u173-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 102px;
	margin: 0px 0px 0px -365px;
	border-width: 0px 0px 4px;
}

#u172-4
{
	z-index: 690;
	width: 116px;
	min-height: 57px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -242px;
}

#u172-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 116px;
	margin: 0px 0px 0px -242px;
}

#u172-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 116px;
	margin: 0px 0px 0px -242px;
	border-width: 0px 0px 4px;
}

#u157-6
{
	z-index: 676;
	width: 238px;
	min-height: 32px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 22px;
	text-align: center;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -114px;
}

#u168-4
{
	z-index: 682;
	width: 108px;
	min-height: 57px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 137px;
}

#u168-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 108px;
	margin: 0px 0px 0px 137px;
}

#u168-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 108px;
	margin: 0px 0px 0px 137px;
	border-width: 0px 0px 4px;
}

#u182-4
{
	z-index: 686;
	width: 137px;
	min-height: 57px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 266px;
}

#u182-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 137px;
	margin: 0px 0px 0px 266px;
}

#u182-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 137px;
	margin: 0px 0px 0px 266px;
	border-width: 0px 0px 4px;
}

#u173-4.MuseLinkActive p,#u172-4.MuseLinkActive p,#u168-4.MuseLinkActive p,#u182-4.MuseLinkActive p
{
	color: #000000;
	visibility: inherit;
}

#u173-2,#u172-2,#u168-2,#u182-2
{
	padding-top: 21px;
}

#top
{
	margin-left: 442px;
	top: -21px;
	margin-bottom: -18px;
	position: relative;
}

#u960
{
	z-index: 674;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #E5E5E5;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 57px;
}

#u960-bw
{
	z-index: 674;
}

#pu75
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 3px;
}

#u75
{
	z-index: 45;
	min-height: 901px;
	background: transparent url("../images/varanasi.jpg") no-repeat center bottom;
	background-size: cover;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 197px;
	padding-bottom: 280px;
}

#u88-8
{
	z-index: 46;
	width: 960px;
	min-height: 281px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 70px;
	line-height: 77px;
	letter-spacing: 1px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	left: 100px;
	position: relative;
}

#u1639-4
{
	z-index: 217;
	width: 960px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #FFFFFF;
	font-size: 11px;
	line-height: 12px;
	letter-spacing: 4px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: 100px;
	margin-top: 124px;
	position: relative;
}

#u75-bw
{
	z-index: 45;
	min-height: 901px;
}

#u1638
{
	z-index: 216;
	width: 15px;
	height: 16px;
	border-style: solid;
	border-color: #F4F4F4;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 642px;
	left: 570px;
	border-width: 0px 0px 5px 5px;
}

#u2155
{
	z-index: 282;
	width: 198px;
	background-color: transparent;
	margin-left: 381px;
	margin-top: 69px;
	position: relative;
}

#u203-4
{
	z-index: 54;
	width: 920px;
	min-height: 54px;
	background-color: #FFFF00;
	font-size: 35px;
	line-height: 42px;
	margin-left: 20px;
	margin-top: 6px;
	position: relative;
}

#pppamphletu2808
{
	width: 0.01px;
	padding-bottom: 106px;
	margin-left: -1469px;
	margin-top: 6px;
}

#ppamphletu2808
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 336px;
	margin-left: 1492px;
}

#pamphletu2808
{
	z-index: 616;
	width: 0.01px;
	height: 63px;
	position: relative;
}

#u2843
{
	z-index: 617;
	width: 210px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u2845-4
{
	z-index: 619;
	width: 192px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	color: #3A3A3A;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u2844:hover #u2845-4
{
	background-color: #42410B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u2844.PamphletThumbSelected #u2845-4
{
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

.Form
{
	border-width: 3px;
	border-style: solid;
	border-color: #353535;
	background-color: transparent;
}

#u2844:hover #u2845-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2814
{
	position: absolute;
	width: 1319px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -74px;
	left: -1492px;
	-pie-background: rgba(191,191,191,0.85);
}

#u2814popup
{
	z-index: 623;
}

#u2815
{
	z-index: 624;
	width: 1273px;
	height: 177px;
	border-width: 1px;
	border-style: solid;
	border-color: #DBDBDB;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2838
{
	z-index: 625;
	width: 1106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 17px;
}

#u2839-4
{
	z-index: 626;
	width: 1106px;
	min-height: 106px;
	background-color: transparent;
	color: #9E9E9E;
	position: relative;
	margin-right: -10000px;
}

#u2809
{
	position: absolute;
	width: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	top: -40px;
	left: -296px;
}

#u2810
{
	z-index: 631;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 62px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu2896
{
	z-index: 650;
	width: 0.01px;
	height: 63px;
	padding-bottom: 6px;
	margin-left: 281px;
	top: -63px;
	margin-bottom: -63px;
	position: relative;
}

#u2899
{
	z-index: 651;
	width: 268px;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u2900
{
	position: absolute;
	width: 371px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 6px;
	top: 1px;
	left: -42px;
}

#u2901-4
{
	z-index: 653;
	width: 250px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	color: #3A3A3A;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u2900:hover #u2901-4
{
	background-color: #42410B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 250px;
	margin: 0px -10000px 0px 0px;
}

#u2900.PamphletThumbSelected #u2901-4
{
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 250px;
	margin: 0px -10000px 0px 0px;
}

#u2900:hover #u2901-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2904
{
	position: absolute;
	width: 1319px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -73px;
	left: -1492px;
	-pie-background: rgba(191,191,191,0.85);
}

#u2904popup
{
	z-index: 657;
}

#u2905
{
	z-index: 658;
	width: 1273px;
	height: 230px;
	border-width: 1px;
	border-style: solid;
	border-color: #DBDBDB;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2906
{
	z-index: 659;
	width: 1080px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 39px;
}

#u2907-6
{
	z-index: 660;
	width: 1080px;
	min-height: 101px;
	background-color: transparent;
	color: #9E9E9E;
	position: relative;
	margin-right: -10000px;
}

#u2908
{
	position: absolute;
	width: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	top: -39px;
	left: -296px;
}

#u2909
{
	z-index: 667;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 62px;
}

#pamphletu2852
{
	z-index: 633;
	width: 0.01px;
	height: 63px;
	margin-left: 657px;
	top: -69px;
	margin-bottom: -63px;
	position: relative;
}

#u2883
{
	z-index: 634;
	width: 207px;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u2884
{
	position: absolute;
	width: 371px;
	border-style: none;
	background-color: transparent;
	top: 1px;
	left: -42px;
}

#u2885-4
{
	z-index: 636;
	width: 189px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	color: #3A3A3A;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u2884:hover #u2885-4
{
	background-color: #42410B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u2884.PamphletThumbSelected #u2885-4
{
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u2884:hover #u2885-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2856
{
	position: absolute;
	width: 1319px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -74px;
	left: -1492px;
	-pie-background: rgba(191,191,191,0.85);
}

#u2856popup
{
	z-index: 640;
}

#u2857
{
	z-index: 641;
	width: 1273px;
	height: 163px;
	border-width: 1px;
	border-style: solid;
	border-color: #DBDBDB;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2865
{
	z-index: 642;
	width: 1080px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 39px;
}

#u2867-4
{
	z-index: 643;
	width: 1080px;
	min-height: 101px;
	background-color: transparent;
	color: #9E9E9E;
	position: relative;
	margin-right: -10000px;
}

#u2853
{
	position: absolute;
	width: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	top: -40px;
	left: -296px;
}

#u2854
{
	z-index: 648;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 62px;
}

#u205-10
{
	z-index: 75;
	width: 920px;
	min-height: 434px;
	background-color: transparent;
	font-size: 13px;
	line-height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 1489px;
}

#u205-7,#u205-8
{
	text-align: left;
}

#pu220
{
	width: 0.01px;
	padding-bottom: 738px;
	margin-left: -1389px;
	margin-top: -78px;
}

#u220
{
	z-index: 41;
	min-height: 1066px;
	background-color: #FFFFFF;
}

#u220_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 115px;
	padding-bottom: 276px;
}

#speakers
{
	left: 565px;
	position: relative;
}

#u1628-4
{
	z-index: 58;
	width: 920px;
	min-height: 52px;
	background-color: #FFFF00;
	line-height: 42px;
	left: 120px;
	margin-top: 67px;
	position: relative;
}

#pu212
{
	width: 0.01px;
	left: 127px;
	margin-top: 32px;
	position: relative;
}

#u212
{
	z-index: 44;
	width: 201px;
	border-color: #353535;
	position: relative;
	margin-right: -10000px;
	background: #989898 url("../images/sumitra_mahajan-u212-fr.png") no-repeat left top;
	background-color: rgba(127,127,127,0.8);
	background-size: cover;
}

#u232-4
{
	z-index: 85;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
}

#u214
{
	z-index: 42;
	width: 201px;
	border-color: #353535;
	position: relative;
	margin-right: -10000px;
	left: 236px;
	background: #989898 url("../images/ram_naik-u214-fr.png") no-repeat center bottom;
	background-color: rgba(127,127,127,0.8);
}

#u2162-4
{
	z-index: 285;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
}

#u235-4
{
	z-index: 89;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	line-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 472px;
}

#u1674
{
	z-index: 43;
	width: 201px;
	border-color: #353535;
	position: relative;
	margin-right: -10000px;
	left: 708px;
	background: #989898 url("../images/anurag-u1674-fr.png") no-repeat center bottom;
	background-color: rgba(127,127,127,0.8);
}

#u237-4
{
	z-index: 93;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
}

#pu233-6
{
	width: 0.01px;
	left: 127px;
	position: relative;
}

#u233-6
{
	z-index: 97;
	width: 201px;
	min-height: 50px;
	background-color: transparent;
	color: #353535;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2166-6
{
	z-index: 289;
	width: 201px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u2167-6
{
	z-index: 295;
	width: 201px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 472px;
}

#u2168-6
{
	z-index: 301;
	width: 201px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#pu2196
{
	width: 0.01px;
	left: 127px;
	margin-top: 6px;
	position: relative;
}

#u2196
{
	z-index: 313;
	width: 201px;
	border-color: #42410B;
	position: relative;
	margin-right: -10000px;
	background: #989898 url("../images/shreehari_borikar-u2196-fr.png") no-repeat left top;
	background-color: rgba(127,127,127,0.8);
	background-size: cover;
}

#u2197-4
{
	z-index: 314;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
}

#u2194
{
	z-index: 311;
	width: 201px;
	border-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 236px;
	background: #989898 url("../images/shaljakant-u2194-fr.png") no-repeat center bottom;
	background-color: rgba(127,127,127,0.8);
}

#u2201-4
{
	z-index: 329;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
}

#u2200
{
	z-index: 328;
	width: 201px;
	border-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 472px;
	background: #989898 url("../images/govindacharya-u2200-fr.png") no-repeat center bottom;
	background-color: rgba(127,127,127,0.8);
}

#u2205-4
{
	z-index: 349;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
}

#u2195
{
	z-index: 312;
	width: 201px;
	border-color: #42410B;
	position: relative;
	margin-right: -10000px;
	left: 708px;
	background: #989898 url("../images/kailash-u2195-fr.png") no-repeat center bottom;
	background-color: rgba(127,127,127,0.8);
}

#u2198-4
{
	z-index: 318;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
}

#pu2203-6
{
	width: 0.01px;
	left: 599px;
	margin-top: 1px;
	position: relative;
}

#u2203-6
{
	z-index: 339;
	width: 201px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2204-4
{
	z-index: 345;
	width: 201px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u220-bw
{
	z-index: 41;
	min-height: 1066px;
}

#pamphletu798
{
	z-index: 124;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 859px;
	left: 1416px;
}

#u805
{
	z-index: 125;
	width: 373px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u814-4
{
	z-index: 127;
	width: 355px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	color: #3A3A3A;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u806:hover #u814-4
{
	background-color: #353535;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#u806:hover #u814-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u801
{
	position: absolute;
	width: 1275px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -74px;
	left: -1416px;
	-pie-background: rgba(191,191,191,0.85);
}

#u801popup
{
	z-index: 131;
}

#u802
{
	z-index: 132;
	width: 1229px;
	height: 316px;
	border-width: 1px;
	border-style: solid;
	border-color: #DBDBDB;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2400
{
	z-index: 186;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u831
{
	z-index: 142;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u832-4
{
	z-index: 143;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u834-6
{
	z-index: 147;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2412
{
	z-index: 188;
	width: 201px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u847
{
	z-index: 153;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u850-4
{
	z-index: 154;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u849-6
{
	z-index: 158;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2424
{
	z-index: 190;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u863
{
	z-index: 164;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u865-4
{
	z-index: 165;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u864-6
{
	z-index: 169;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu2641
{
	width: 0.01px;
	margin-left: 1px;
}

#u2641
{
	z-index: 194;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2436
{
	z-index: 192;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 214px;
}

#pu815
{
	width: 0.01px;
	margin-top: 2px;
}

#u815
{
	z-index: 133;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u818-4
{
	z-index: 134;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u816-4
{
	z-index: 138;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u871
{
	z-index: 175;
	width: 231px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u874-4
{
	z-index: 176;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	margin-left: 15px;
	position: relative;
}

#u873-6
{
	z-index: 180;
	width: 231px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u810
{
	position: absolute;
	width: 124px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 30px;
	top: -40px;
	left: -289px;
}

#u810:hover
{
	background-color: transparent;
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u811
{
	z-index: 197;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 92px;
}

#u2161
{
	z-index: 284;
	width: 201px;
	border-color: #42410B;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 1888px;
	background: #989898 url("../images/op_dhankar-u2161-fr.png") no-repeat center bottom;
	background-color: rgba(127,127,127,0.8);
}

#u2193-4
{
	z-index: 307;
	width: 201px;
	min-height: 27px;
	background-color: transparent;
	color: #F4F4F4;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
}

#u2199-6
{
	z-index: 322;
	width: 201px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
	left: 1416px;
}

#u2202-6
{
	z-index: 333;
	width: 201px;
	min-height: 50px;
	background-color: transparent;
	color: #42410B;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
	left: 1652px;
}

#pamphletu2443
{
	z-index: 353;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 859px;
	left: 1940px;
}

#u2476
{
	z-index: 354;
	width: 373px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u2478-4
{
	z-index: 356;
	width: 355px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	color: #3A3A3A;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u2477:hover #u2478-4
{
	background-color: #42410B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#u2477:hover #u2478-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2444
{
	position: absolute;
	width: 1319px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -74px;
	left: -1492px;
	-pie-background: rgba(191,191,191,0.85);
}

#u2444popup
{
	z-index: 360;
}

#u2445
{
	z-index: 361;
	width: 1273px;
	height: 296px;
	border-width: 1px;
	border-style: solid;
	border-color: #DBDBDB;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu2400,#pu2454
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 90px;
}

#u2454
{
	z-index: 407;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2463
{
	z-index: 371;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u2465-4
{
	z-index: 372;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2464-4
{
	z-index: 376;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu2412,#pu2452
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 302px;
}

#u2452
{
	z-index: 409;
	width: 201px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u2446
{
	z-index: 380;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2448-4
{
	z-index: 381;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2447-4
{
	z-index: 385;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu2424,#pu2459
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 516px;
}

#u2459
{
	z-index: 411;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2466
{
	z-index: 389;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 2px;
	position: relative;
}

#u2468-4
{
	z-index: 390;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2467-4
{
	z-index: 394;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#ppu2641,#pu2588
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 732px;
}

#u2588
{
	z-index: 415;
	width: 201px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2588_img
{
	padding-bottom: 6px;
}

#u2456
{
	z-index: 362;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u2458-4
{
	z-index: 363;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2457-4
{
	z-index: 367;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#pu2461
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 947px;
}

#u2461
{
	z-index: 413;
	width: 201px;
	background-color: transparent;
	position: relative;
}

#u2449
{
	z-index: 398;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u2451-4
{
	z-index: 399;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2450-4
{
	z-index: 403;
	width: 200px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2473
{
	position: absolute;
	width: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	top: -40px;
	left: -296px;
}

#u2474
{
	z-index: 418;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 62px;
}

#pamphletu2597
{
	z-index: 428;
	width: 0.01px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 943px;
	left: 1695px;
}

#u2601
{
	z-index: 429;
	width: 373px;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u2844,#u806,#u2477,#u2602
{
	position: absolute;
	width: 371px;
	border-style: none;
	background-color: transparent;
	top: 1px;
	left: 2px;
}

#u2603-4
{
	z-index: 431;
	width: 355px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	color: #3A3A3A;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: -2px;
}

#u2602:hover #u2603-4
{
	background-color: #42410B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#u806.PamphletThumbSelected #u814-4,#u2477.PamphletThumbSelected #u2478-4,#u2602.PamphletThumbSelected #u2603-4
{
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 355px;
	margin: 0px -10000px 0px 0px;
}

#u2602:hover #u2603-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2844.PamphletThumbSelected #u2845-4 p,#u2900.PamphletThumbSelected #u2901-4 p,#u2884.PamphletThumbSelected #u2885-4 p,#u806.PamphletThumbSelected #u814-4 p,#u2477.PamphletThumbSelected #u2478-4 p,#u2602.PamphletThumbSelected #u2603-4 p
{
	color: #3A3A3A;
	visibility: inherit;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2608
{
	position: absolute;
	width: 1193px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -10px;
	left: -1371px;
	-pie-background: rgba(191,191,191,0.85);
}

#u2608popup
{
	z-index: 435;
}

#u2609
{
	z-index: 436;
	width: 1032px;
	height: 752px;
	border-width: 1px;
	border-style: solid;
	border-color: #DBDBDB;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 41px 52px 32px 63px;
}

#pu2619
{
	width: 0.01px;
}

#u2619
{
	z-index: 478;
	width: 161px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2610
{
	z-index: 480;
	width: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 215px;
}

#u2617
{
	z-index: 482;
	width: 161px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u2627
{
	z-index: 486;
	width: 163px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 645px;
}

#u2612
{
	z-index: 484;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 859px;
}

#pu2614
{
	width: 0.01px;
	margin-top: -6px;
}

#u2614
{
	z-index: 437;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2615-4
{
	z-index: 438;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2616-6
{
	z-index: 442;
	width: 161px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2629
{
	z-index: 448;
	width: 162px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u2630-4
{
	z-index: 449;
	width: 162px;
	min-height: 31px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2631-3
{
	z-index: 453;
	width: 162px;
	min-height: 43px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2624
{
	z-index: 456;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 428px;
}

#u2625-4
{
	z-index: 457;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2626-6
{
	z-index: 461;
	width: 161px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	position: relative;
}

#u2956
{
	z-index: 600;
	width: 163px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 644px;
}

#u2957-4
{
	z-index: 601;
	width: 163px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2958-6
{
	z-index: 605;
	width: 163px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2632
{
	z-index: 467;
	width: 159px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 862px;
}

#u2634-4
{
	z-index: 468;
	width: 159px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2633-6
{
	z-index: 472;
	width: 159px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu2682
{
	width: 0.01px;
	margin-top: -3px;
}

#u2682
{
	z-index: 535;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2684
{
	z-index: 537;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u2686
{
	z-index: 539;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u2690
{
	z-index: 543;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 645px;
}

#u2688
{
	z-index: 541;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 862px;
}

#u2670
{
	z-index: 497;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2672-4
{
	z-index: 498;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2671-4
{
	z-index: 502;
	width: 161px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2673
{
	z-index: 506;
	width: 162px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 213px;
}

#u2675-4
{
	z-index: 507;
	width: 162px;
	min-height: 18px;
	background-color: transparent;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2615-2,#u2957-2,#u2634-2,#u2675-2
{
	font-size: 15px;
	letter-spacing: 0px;
	color: #000000;
}

#u2674-6
{
	z-index: 511;
	width: 162px;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2674-2,#u2674-4
{
	color: #9E9E9E;
}

#u2676
{
	z-index: 517;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u2678-4
{
	z-index: 518;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2677-4
{
	z-index: 522;
	width: 161px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2667
{
	z-index: 488;
	width: 164px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 645px;
}

#u2669-4
{
	z-index: 489;
	width: 163px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	margin-left: 1px;
	position: relative;
}

#u2668-4
{
	z-index: 493;
	width: 163px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u2679
{
	z-index: 526;
	width: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 863px;
}

#u2680-4
{
	z-index: 527;
	width: 158px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2681-4
{
	z-index: 531;
	width: 158px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu2765
{
	width: 0.01px;
	margin-top: 34px;
}

#u2765
{
	z-index: 590;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2767
{
	z-index: 592;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u2769
{
	z-index: 594;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u2773
{
	z-index: 598;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 654px;
}

#u2627_img,#u2690_img,#u2773_img
{
	padding-bottom: 5px;
}

#u2771
{
	z-index: 596;
	width: 163px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 869px;
}

#pu2670,#pu2753
{
	width: 0.01px;
	margin-top: -5px;
}

#u2753
{
	z-index: 554;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2755-4
{
	z-index: 555;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2754-4
{
	z-index: 559;
	width: 161px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2756
{
	z-index: 563;
	width: 162px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 213px;
}

#u2758-4
{
	z-index: 564;
	width: 162px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2757-4
{
	z-index: 568;
	width: 162px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2759
{
	z-index: 572;
	width: 161px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#u2760-4
{
	z-index: 573;
	width: 161px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2761-4
{
	z-index: 577;
	width: 161px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2750
{
	z-index: 545;
	width: 162px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 654px;
}

#u2752-4
{
	z-index: 546;
	width: 162px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2751-4
{
	z-index: 550;
	width: 162px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#u2762
{
	z-index: 581;
	width: 163px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 869px;
}

#u2763-4
{
	z-index: 582;
	width: 163px;
	min-height: 18px;
	background-color: transparent;
	color: #000000;
	font-size: 15px;
	letter-spacing: 0px;
	line-height: 18px;
	font-weight: 700;
	position: relative;
}

#u2764-4
{
	z-index: 586;
	width: 163px;
	min-height: 25px;
	background-color: transparent;
	color: #9E9E9E;
	text-align: center;
	font-weight: 400;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2598
{
	position: absolute;
	width: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	top: -40px;
	left: -296px;
}

#u2809:hover,#u2908:hover,#u2853:hover,#u2473:hover,#u2598:hover
{
	background-color: transparent;
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u2599
{
	z-index: 612;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 62px;
}

#place_date
{
	margin-left: 450px;
	top: -720px;
	margin-bottom: -18px;
	position: relative;
}

#u223-8
{
	z-index: 62;
	width: 650px;
	min-height: 112px;
	background-color: transparent;
	line-height: 42px;
	margin-left: 155px;
	top: -629px;
	margin-bottom: -126px;
	position: relative;
}

#u227-5
{
	z-index: 70;
	width: 920px;
	min-height: 65px;
	background-color: #FFFF00;
	line-height: 25px;
	margin-left: 21px;
	top: -503px;
	margin-bottom: -65px;
	position: relative;
}

#ppamphletu240
{
	width: 0.01px;
	padding-bottom: 43px;
	margin-left: -1167px;
	margin-top: -431px;
}

#pamphletu240
{
	z-index: 103;
	width: 0.01px;
	height: 60px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	left: 1524px;
}

#u245
{
	z-index: 104;
	width: 259px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u246
{
	position: absolute;
	width: 257px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 1px;
	top: 3px;
	left: 3px;
}

#u230-4
{
	z-index: 106;
	width: 241px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	color: #474747;
	text-align: center;
	letter-spacing: 3px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u246:hover #u230-4
{
	background-color: #353535;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 241px;
	margin: -3px -10000px 0px 0px;
}

#u246.PamphletThumbSelected #u230-4
{
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 241px;
	margin: -3px -10000px 0px 0px;
}

#u246:hover #u230-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u246.PamphletThumbSelected #u230-4 p
{
	color: #3A3A3A;
	visibility: inherit;
	padding-top: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u2845-2,#u2901-2,#u2885-2,#u814-2,#u2478-2,#u2603-2,#u230-2
{
	padding-top: 14px;
}

#u251
{
	position: absolute;
	width: 1026px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -374px;
	left: -1524px;
	-pie-background: rgba(191,191,191,0.85);
}

#u251popup
{
	z-index: 110;
}

#u254
{
	z-index: 111;
	width: 980px;
	height: 432px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u270
{
	z-index: 112;
	width: 641px;
	min-height: 432px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u880-8
{
	z-index: 113;
	width: 240px;
	min-height: 103px;
	background-color: transparent;
	font-size: 15px;
	text-align: left;
	line-height: 28px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 329px;
	left: 671px;
}

#u243
{
	position: absolute;
	width: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 45px;
	top: -351px;
	left: -664px;
}

#u243:hover
{
	background-color: transparent;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u278
{
	z-index: 122;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 92px;
}

#u2048-49
{
	z-index: 233;
	width: 920px;
	min-height: 364px;
	background-color: transparent;
	font-size: 13px;
	text-align: left;
	line-height: 25px;
	position: relative;
	margin-right: -10000px;
	left: 1187px;
}

#u2048-2,#u2048-4,#u2048-7,#u2048-12,#u2048-18,#u2048-22,#u2048-27,#u2048-30,#u2048-34,#u2048-40
{
	font-weight: 700;
}

#u882
{
	z-index: 203;
	width: 674px;
	height: 21px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	margin-left: 143px;
	margin-top: 215px;
	position: relative;
	border-width: 0px 0px 1px;
}

#why
{
	margin-left: 473px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1640-4
{
	z-index: 221;
	width: 960px;
	min-height: 52px;
	background-color: transparent;
	line-height: 42px;
	margin-left: 8px;
	margin-top: 75px;
	position: relative;
}

#u1641-4
{
	z-index: 225;
	width: 316px;
	min-height: 33px;
	background-color: transparent;
	line-height: 25px;
	margin-left: 322px;
	margin-top: 16px;
	position: relative;
}

#pu2573
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: -1px;
}

#u2573
{
	z-index: 426;
	width: 167px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u2929
{
	z-index: 669;
	width: 186px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#u2802
{
	z-index: 614;
	width: 167px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 685px;
}

#u2541-4
{
	z-index: 420;
	width: 316px;
	min-height: 33px;
	background-color: transparent;
	line-height: 25px;
	margin-left: 322px;
	margin-top: 16px;
	position: relative;
}

#u2549
{
	z-index: 424;
	width: 434px;
	background-color: transparent;
	margin-left: 202px;
	position: relative;
}

#pu1029-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 196px;
}

#u1029-4
{
	z-index: 34;
	min-height: 463px;
	text-align: center;
	background: #4C4C4C url("../images/taj_mahal-u1029-4-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u1029-4-bw
{
	z-index: 34;
	min-height: 463px;
}

#u1038-6
{
	z-index: 210;
	width: 684px;
	min-height: 106px;
	background-color: transparent;
	color: #FFFFFF;
	letter-spacing: 5px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 238px;
}

#u1032-3
{
	z-index: 38;
	min-height: 463px;
	text-align: center;
	background: #4C4C4C url("../images/reclining-statue-of-buddha-in-kushinagar-u1032-3-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u1029-2,#u1032
{
	padding-top: 132px;
}

#u1032-3-bw
{
	z-index: 38;
	min-height: 463px;
}

#u1037-6
{
	z-index: 204;
	width: 684px;
	min-height: 124px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 238px;
}

#u1038-2,#u1037-2
{
	font-size: 65px;
	line-height: 78px;
}

#u1038-4,#u1037-4
{
	font-size: 20px;
	line-height: 24px;
}

#reserve
{
	margin-left: 497px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1642-4
{
	z-index: 229;
	width: 960px;
	min-height: 52px;
	background-color: transparent;
	line-height: 42px;
	margin-top: 65px;
	position: relative;
}

#u1773
{
	z-index: 24;
	width: 39px;
	height: 161px;
	margin-left: 506px;
	margin-top: 856px;
	margin-bottom: -61px;
}

#u1773:hover
{
	width: 39px;
	height: 161px;
	min-height: 0px;
	margin: 856px 0px -61px 506px;
}

#u1773:active
{
	width: 39px;
	height: 161px;
	min-height: 0px;
	margin: 856px 0px -61px 506px;
}

#pu1032-3,#pu1770
{
	width: 0.01px;
	margin-left: -100px;
}

#u1770_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 9px;
	padding-bottom: 62px;
}

#u1771-17
{
	z-index: 3;
	width: 661px;
	min-height: 45px;
	left: 250px;
}

#u1772-4
{
	z-index: 20;
	width: 517px;
	min-height: 32px;
	left: 322px;
	margin-top: 90px;
}

#u2795-6
{
	z-index: 28;
	width: 518px;
	min-height: 35px;
	left: 321px;
	margin-top: 193px;
}

#u1770,#u1770-bw
{
	z-index: 2;
	min-height: 573px;
}

#u1774
{
	z-index: 26;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 542px;
}

#u2959
{
	z-index: 672;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 580px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

