.version.index /* version checker */
{
	color: #0000FE;
	background-color: #E8C480;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #F4F4F4;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 6323px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -144px;
	width: 0.01px;
}

#ptop
{
	width: 0.01px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 179px;
}

#u774
{
	z-index: 176;
	min-height: 50px;
	background-color: #FFFFFF;
	padding-bottom: 52px;
}

#u679-3
{
	z-index: 177;
	width: 351px;
	min-height: 32px;
	background-color: transparent;
	letter-spacing: 3px;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u774-bw
{
	z-index: 176;
	min-height: 50px;
}

#u3643
{
	z-index: 180;
	width: 351px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 19px;
}

#u683-4
{
	z-index: 160;
	width: 102px;
	min-height: 44px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 102px;
	left: 0px;
	border-width: 1px 0px;
}

#u683-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 102px;
	margin: 0px;
}

#u682-4
{
	z-index: 164;
	width: 83px;
	min-height: 44px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 102px;
	left: 102px;
	border-width: 1px 0px;
}

#u680-4
{
	z-index: 168;
	width: 83px;
	min-height: 44px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 102px;
	left: 185px;
	border-width: 1px 0px;
}

#u682-4.MuseLinkActive,#u680-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 83px;
	margin: 0px;
}

#u681-4
{
	z-index: 172;
	width: 112px;
	min-height: 44px;
	border-style: solid;
	border-color: #E5E5E5;
	background-color: #FFFFFF;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 102px;
	left: 268px;
	border-width: 1px 0px;
}

#u681-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 112px;
	margin: 0px;
}

#u683-4.MuseLinkActive p,#u682-4.MuseLinkActive p,#u680-4.MuseLinkActive p,#u681-4.MuseLinkActive p
{
	color: #B2B2B2;
	visibility: inherit;
}

#u683-2,#u682-2,#u680-2,#u681-2
{
	padding-top: 15px;
}

#pu673
{
	width: 0.01px;
	margin-top: 24px;
}

#u673
{
	z-index: 30;
	min-height: 241px;
	padding-bottom: 282px;
	background: #1E1E1E url("../../images/image-4-compressed.jpg") no-repeat center center;
	background-size: cover;
}

#u674-8
{
	z-index: 31;
	width: 331px;
	min-height: 136px;
	background-color: transparent;
	line-height: 38px;
	color: #FFFFFF;
	font-size: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 24px;
}

#u673-bw
{
	z-index: 30;
	min-height: 241px;
}

#u1649
{
	z-index: 134;
	width: 15px;
	height: 16px;
	border-style: solid;
	border-color: #F4F4F4;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	left: 180px;
	border-width: 0px 0px 5px 5px;
}

#u686
{
	z-index: 40;
	min-height: 1179px;
	background-color: #FFFFFF;
	padding: 30px 34px 47px;
}

#u3051
{
	z-index: 154;
	width: 114px;
	background-color: transparent;
	margin-left: 99px;
	position: relative;
}

#u687-4
{
	z-index: 41;
	width: 312px;
	min-height: 95px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u998-9
{
	z-index: 125;
	width: 312px;
	min-height: 439px;
	background-color: transparent;
	margin-top: 31px;
	position: relative;
}

#u998-7
{
	text-align: left;
}

#u686-bw
{
	z-index: 40;
	min-height: 1179px;
	margin-top: 3px;
}

#u697-4
{
	z-index: 45;
	width: 330px;
	min-height: 37px;
	background-color: transparent;
	line-height: 29px;
	margin-left: 25px;
	margin-top: 61px;
	position: relative;
}

#u973
{
	z-index: 122;
	width: 338px;
	height: 277px;
	border-color: #353535;
	margin-left: 25px;
	margin-top: 105px;
	position: relative;
	background: #989898 url("../../images/12171369_1175512222463593_821802249_o-u973-fr.png") no-repeat center center;
	background-color: rgba(127,127,127,0.8);
	background-size: cover;
}

#u971
{
	z-index: 124;
	width: 338px;
	height: 277px;
	border-color: #353535;
	margin-left: 21px;
	margin-top: 156px;
	position: relative;
	background: #989898 url("../../images/12171369_1175512222463593_821802249_o-u971-fr.png") no-repeat center center;
	background-color: rgba(127,127,127,0.8);
	background-size: cover;
}

#u972
{
	z-index: 123;
	width: 338px;
	height: 277px;
	border-color: #353535;
	margin-left: 21px;
	margin-top: 149px;
	position: relative;
	background: #989898 url("../../images/12171369_1175512222463593_821802249_o-u972-fr.png") no-repeat center center;
	background-color: rgba(127,127,127,0.8);
	background-size: cover;
}

#u705
{
	z-index: 49;
	min-height: 1018px;
	background-color: #FFFFFF;
}

#u705_position_content
{
	padding-bottom: 175px;
}

#speakers,#timeplace
{
	margin-left: 190px;
	position: relative;
}

#u706-6
{
	z-index: 50;
	width: 332px;
	min-height: 37px;
	background-color: transparent;
	line-height: 29px;
	margin-left: 24px;
	margin-top: 130px;
	position: relative;
}

#u707-4
{
	z-index: 56;
	width: 114px;
	min-height: 36px;
	background-color: transparent;
	line-height: 34px;
	font-size: 18px;
	text-align: left;
	letter-spacing: 0px;
	margin-left: 133px;
	margin-top: 48px;
	position: relative;
}

#u708-33
{
	z-index: 60;
	width: 264px;
	min-height: 77px;
	background-color: transparent;
	text-align: left;
	margin-left: 58px;
	margin-top: 49px;
	position: relative;
}

#u708-2,#u708-4,#u708-7,#u708-10,#u708-13,#u708-18,#u708-19,#u708-22,#u708-25,#u708-28
{
	font-weight: 700;
}

#u705-bw
{
	z-index: 49;
	min-height: 1018px;
	margin-top: 224px;
}

#why
{
	margin-left: 179px;
	position: relative;
}

#u709-4
{
	z-index: 93;
	width: 338px;
	min-height: 42px;
	background-color: transparent;
	line-height: 29px;
	margin-left: 21px;
	margin-top: 118px;
	position: relative;
}

#u3048-4
{
	z-index: 143;
	width: 136px;
	background-color: transparent;
	font-family: fira-sans, sans-serif;
	font-weight: 700;
	margin-left: 122px;
	margin-top: 18px;
	position: relative;
}

#pu3024
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 18px;
}

#u3024
{
	z-index: 135;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3036
{
	z-index: 139;
	width: 113px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u3030
{
	z-index: 137;
	width: 113px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u3049-3
{
	z-index: 147;
	width: 5px;
	background-color: transparent;
	margin-left: 306px;
	margin-top: 19px;
	position: relative;
}

#u3050-4
{
	z-index: 150;
	width: 99px;
	background-color: transparent;
	font-family: fira-sans, sans-serif;
	font-weight: 700;
	margin-left: 140px;
	margin-top: 24px;
	position: relative;
}

#u3042
{
	z-index: 141;
	width: 201px;
	background-color: transparent;
	margin-left: 90px;
	margin-top: 13px;
	position: relative;
}

#pu3005-3
{
	width: 0.01px;
	margin-top: 43px;
}

#u3005-3
{
	z-index: 97;
	width: 380px;
	min-height: 280px;
	position: relative;
	margin-right: -10000px;
	background: #4C4C4C url("../../images/image-3-compressed-u3005-3-fr.png") no-repeat left center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u778-7
{
	z-index: 100;
	width: 325px;
	min-height: 113px;
	background-color: transparent;
	color: #FFFFFF;
	letter-spacing: 5px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 28px;
}

#u778-3
{
	font-size: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u778
{
	font-size: 50px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	line-height: 60px;
}

#u712
{
	z-index: 29;
	min-height: 145px;
	padding-bottom: 7px;
	background: #4C4C4C url("../../images/image-1-compressed-u712-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u780-7
{
	z-index: 107;
	width: 358px;
	min-height: 113px;
	background-color: transparent;
	color: #FFFFFF;
	letter-spacing: 5px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 13px;
}

#u780-3
{
	font-size: 40px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u780
{
	font-size: 50px;
	line-height: 60px;
}

#u778-2,#u780-2
{
	line-height: 48px;
}

#u778-5,#u780-5
{
	font-size: 17px;
	line-height: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
}

#u712-bw
{
	z-index: 29;
	min-height: 145px;
}

#reserve
{
	margin-left: 179px;
	margin-top: 4px;
	position: relative;
}

#u717-4
{
	z-index: 115;
	width: 348px;
	min-height: 43px;
	background-color: transparent;
	line-height: 29px;
	margin-left: 23px;
	margin-top: 88px;
	position: relative;
}

#u3057-4
{
	z-index: 156;
	width: 348px;
	min-height: 43px;
	background-color: transparent;
	line-height: 17px;
	font-size: 14px;
	font-family: fira-sans, sans-serif;
	font-weight: 500;
	margin-left: 23px;
	margin-top: 34px;
	position: relative;
}

#u2146
{
	z-index: 28;
	width: 64px;
	height: 161px;
	border-style: none;
	border-color: transparent;
	border-radius: 0px 5px 5px 0px ;
	-webkit-transform: matrix(0,-1,1,0,-49,113);
	-ms-transform: matrix(0,-1,1,0,-49,113);
	transform: matrix(0,-1,1,0,-49,113);
	margin-left: 158px;
	margin-top: 142px;
	margin-bottom: -49px;
	position: relative;
	background: #FFFFFF url("../../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u2146:hover
{
	width: 64px;
	height: 161px;
	min-height: 0px;
	margin: 142px 0px -49px 158px;
	background: #EDEDED url("../../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#u2146:active
{
	width: 64px;
	height: 161px;
	min-height: 0px;
	margin: 142px 0px -49px 158px;
	background: #F7F7F7 url("../../images/arrows-mn_arrow_right.png") no-repeat center center;
}

#pu2145
{
	width: 0.01px;
	margin-top: 1px;
}

#u2145
{
	z-index: 2;
	min-height: 218.75px;
	padding: 66px 27px 127.25px 28px;
}

#u1783-3
{
	z-index: 3;
	width: 325px;
	min-height: 37px;
	left: -1px;
}

#u1784-15
{
	z-index: 6;
	width: 325px;
	min-height: 32px;
	left: -1px;
	margin-top: 6px;
}

#u2145-bw
{
	z-index: 2;
	min-height: 218.75px;
}

#u1786
{
	z-index: 22;
	height: 39px;
	width: 38px;
	margin-right: -10000px;
	margin-top: 339px;
	left: 152px;
}

#u3646
{
	z-index: 24;
	width: 239px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 114px;
}

#u3649
{
	z-index: 26;
	width: 86px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 28px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

