#u2145
{
	border-style: none;
	border-color: transparent;
	background-color: #EDEDED;
}

#u1783-3
{
	background-color: transparent;
	letter-spacing: 1px;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1784-15
{
	background-color: transparent;
	color: #999999;
	text-align: center;
	letter-spacing: 6px;
	line-height: 16px;
	font-size: 13px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1786
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1786.png") no-repeat 0px 0px;
}

#u1786:hover
{
	background: url("../../images/u1786-r.png") no-repeat 0px 0px;
}

#u3646,#u3649
{
	background-color: transparent;
	position: relative;
}

